#pageContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
               }



/* Header&NavigationStyle*/

.videoallign {
    float:margin: auto;
    width: 60%;
    padding: 10px;
}

@font-face {
    font-family: computer;
    src: url(computer.ttf);
}

.fontFace{
    color: cornflowerblue;
    font-family: computer;
    font-size: 50px;
}

nav a:link, a:visited {
    background-color:#242424;
    color: dodgerblue;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;    
              }
nav a:hover, a:active {
    background-color: cornflowerblue;
              }
nav a:link {
    color:#242424;
       }
nav a:visited {
    color:cornflowerblue;
          }
nav a:hover {
    color:white;
        }
nav a:active {
    color:dodgerblue;
         }
nav     {
        background-color: #242424;
        }
header {
        background-color: #242424;
        }



/* Form */



.form {
    margin-right: 30px;
    bottom: 0px;
       }
.formAllign {
        width: 500px;
        clear: both;
            }
.formAllign input {
        width: 100%;
        clear: both;
            }



/* Table */

table, td {
  border:solid #3c598e thin;
  border-collapse:collapse;
  font-size: 18px;
  color: white;
}
tr.tableBlue {
   background-color: #92b4f2; 
}

tr.odd td {
  background-color: #3c598e;
}
tr, tfoot.footHead{
  background-color: cornflowerblue;
}



/* ContentStyle */

.audioAllign {
    float:inherit
}

.SubscribeForm {
    color: black;
}

p, .productTitle{
    color: cornflowerblue;
}

productImg{
    float: right;
    margin: 0 0 10px 10px;
}

.titleOfPage{
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 30px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
	    line-height: 26.4px;
        color: cornflowerblue
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 18px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
	    line-height: 26.4px;
        color: white;
        margin: 10px;
        padding: 10px;  
}

h1, h2  {
       font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	   font-size: 24px;
	   font-style: sunormal;
	   font-variant: normal;
	   font-weight: 500;
	   line-height: 26.4px;
        }
h2      {
    font-style:italic;
        }
#logo {
    vertical-align:middle;
     }
blockquote {
    font-style:italic;
            }
body {
        background-color: #242424;
        font-family: ariel, sans-serif;
     }

body   {
        background-color: #ECEAF7;
       }


#container {
        background-color: #ECEAF7;
        min-height:300px;
}




/*FooterStyle */

div.clear {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}
Inherited from body
body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    color: #444;
}
.no_margin_top {
    margin-top: 0;
}
#footer {
    border-top: solid 5px #5077bd;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
#footer div.footer-explore-container {
    width: 667px;
    float: left;
}
#footer div.footer-explore-container h2, div.footer-corporate-container h2 {
    font-size: 174%;
    padding: 9px 13px;
    border-bottom: solid 1px #5077bd;
    color: #fff;
}

h2 {
    font-size: 1.60em;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#footer ul.footer-col {
    float: left;
    width: 140px;
    min-height: 128px;
    margin: 10px 0px;
    padding: 0px 13px;
}
ol, ul {
    list-style: none;
}
ul.footer-col.border-left {
    border-left: solid 1px #5077bd;
}
ul.footer-col li.border-bottom {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #5077bd;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
Inherited from ul.footer-col.border-left.col-bold
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
#footer {
    border-top: solid 5px #5077bd;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
Inherited from ul.footer-col.border-left
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
#footer {
    border-top: solid 5px #5077bd;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
#footer {
    border-top: solid 5px #5077bd;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
div {
    display: block;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}

#footer div.footer-explore-container {
    width: 667px;
    float: left;
}
#disclaimer-external {
    bottom: 101px;
}
#disclaimer-external {
    bottom: 101px;
}
#disclaimer-external {
    position: absolute;
    bottom: 81px;
    left: 12px;
    zoom: 1;
    font-size: 11px;
}
#footer div.footer-corporate-container {
    width: 302px;
    background-color: #8b8a8a;
    float: left;
}
#footer div.footer-corporate-container h2 {
    border-color: #5077bd;
}
#footer div.footer-explore-container h2, div.footer-corporate-container h2 {
    font-size: 174%;
    padding: 9px 13px;
    border-bottom: solid 1px #5077bd;
    color: #fff;
}
h2 {
    font-size: 1.60em;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
element.style {
    float: left;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
p.footer-site-info {
    width: 122px;
    margin: 14px;
    display: block;
    float: left;
    font-size: 100%;
    color: #ffffff;
    font-size: 93%;
}
.footer-site-info {
    width: 115px;
    margin: 14px;
    margin-left: 7px;
    display: block;
    float: left;
    font-size: 100%;
    color: #ffffff;
    font-size: 93%;
    margin-bottom: 0;
    overflow: hidden;
}
p {
    margin: 12px 0;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.4em;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
#footer div.footer-corporate-container ul.footer-col {
    min-height: 138px;
    width: 114px;
    margin: 10px 0px;
    padding: 0px 13px;
}
Inherited from div#footer
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
#footer div.footer-corporate-container {
    width: 302px;
    background-color: #92b4f2;
    float: left;
}
.footer-commercial {
    float: left;
    width: 647px;
    background: none;
    border-top: solid 1px #5077bd;
}

.footer-commercial {
    margin: 0;
    padding: 10px;
    display: block;
    clear: both;
    overflow: hidden;
    list-style: none;
    float: left;
    width: 647px;
    border-top: solid 1px #5077bd;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
div.footer-copyright div.panel, #footer div.panel {
    float: left;
    background-color: #8B8A8A;
    width: 302px;
    min-height: 35px;
    border-top: solid 1px #3C598E;
}
div.footer-copyright div.panel, #footer div.panel {
    float: left;
    background-color: #8B8A8A;
    width: 302px;
    height: 35px;
    border-top: solid 1px #3C598E;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #666666;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
div.footer-copyright {
    clear: both;
    display: block;
    background: #324a76;
    height: 50px;
}
div.footer-copyright {
    clear: both;
    display: block;
    background: #324a76;
    height: 50px;
}
div.footer-copyright {
    clear: both;
    display: block;
    background: #324a76;
    height: 50px;
}
div.footer-copyright {
    clear: both;
    display: block;
    background: #324a76;
    height: 50px;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #6495ed;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
#footer {
    border-top: solid 5px #3c598e;
    background-color: #6495ed;
    color: #fff;
}

#footer {
    border-top: solid 5px #3c598e;
    background-color: #6495ed;
    color: #fff;
    position: relative;
    zoom: 1;
    display: block;
}
r_12 {
    width: 970px;
}
.gr_12 {
    display: inline;
    float: none;
    margin: 7px;
    padding: 0;
}
li a:link, a:visited {
    background-color: cornflourblue;
    color: #444;
    text-align: center; 
    text-decoration: none;
    display: inline-block;    
                      }
li a:hover, a:active {
    background-color: cornflowerblue;
                      }
li a:link {
    color:#444;
       }
li a:visited {
    color: white;
          }
li a:hover {
    color:#444;
        }
li a:active {
    color: cornflourblue;
         }
blockquote {
    font-style: italic;
    font-size: 15px;
    color: white;
}
.contextpagelink {
    color: gainsboro;
}
.bluebutton {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.Black {
    color: black;
}
